/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.acordian {
  margin-top: 1.3125rem;
}

.acordian li {
  padding-top: 1.0625rem;
  padding-bottom: 1.3125rem;
  border-bottom: 1px solid #E8E8EA;
  cursor: pointer;
  color: #4B4C5F;
}

.acordian li:hover {
  color: #F47B56;
}

.acordian li p {
  padding-right: 2.6875rem;
  max-width: 15.625rem;
}

.acordian .question {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 0.8125rem;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.acordian .answer {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 0.9375rem;
  color: #787887;
  display: none;
}

.acordian .active .question {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.9375rem;
  font-family: 'Kumbh Sans', sans-serif;
  color: #1E1F36;
  background-image: url("../images/icon-arrow-up.svg");
}

.acordian .active .answer {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: transparent linear-gradient(180deg, #B068E9 0%, #6463E7 100%) 0% 0% no-repeat padding-box;
}

@media screen and (min-width: 800px) {
  body {
    align-items: center;
  }
}

main {
  margin-top: 2.5rem;
  max-width: 20.4375rem;
}

@media screen and (min-width: 800px) {
  main {
    margin: 0 auto;
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main .image-container {
  position: relative;
  height: 12.5rem;
  background-image: url("../images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -5.625rem;
  z-index: 10;
  opacity: 2;
}

@media screen and (min-width: 800px) {
  main .image-container {
    margin: 0;
    width: 19.375rem;
    margin-right: -12.5rem;
  }
}

@media screen and (min-width: 1000px) {
  main .image-container {
    background-image: url("../images/illustration-box-desktop.svg"), url("../images/illustration-woman-online-desktop.svg");
    background-position: 12.5rem 7.8125rem, top;
    width: 56.25rem;
    height: 31.25rem;
    margin-right: -37.5rem;
  }
}

main .content-container {
  z-index: 1;
  padding: 3.9375rem 1.5rem 3rem 1.5rem;
  background-color: white;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 23px;
  box-shadow: 0px 50px 50px #35127A7F;
}

@media screen and (min-width: 800px) {
  main .content-container {
    background-position: -15% 65%;
  }
  main .content-container .acordian {
    padding-left: 17.1875rem;
  }
}

@media screen and (min-width: 1000px) {
  main .content-container {
    padding: 0;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: 0;
    background-position: -555px -350px;
  }
  main .content-container .acordian {
    padding-top: 39px;
    padding-right: 5.9375rem;
    padding-bottom: 5.1875rem;
    padding-left: 28.5625rem;
  }
}

main .content-container h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: 'Kumbh Sans', sans-serif;
  color: #1E1F36;
  margin-top: 3.9375rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  main .content-container h1 {
    margin-top: 0;
    padding-left: 17.1875rem;
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  main .content-container h1 {
    padding-top: 4.0625rem;
    padding-left: 28.4375rem;
  }
}
/*# sourceMappingURL=main.css.map */