@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

main {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

    .faq {
        background-color: white;
        border-radius: 23px;
        padding: 47px 24px;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: hsl(237, 12%, 33%);
        box-shadow: 0 50px 50px hsla(260, 85, 48, 50%);

        h1 {
            margin-top: 133px;
            margin-bottom: 38px;
            text-transform: uppercase;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
        }

        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 24px 0px;
                border-bottom: 2px solid hsl(240, 5%, 91%);
            }

            img {
                margin-left: 24px;
            }
        }
    }
}