@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

    .graphic {
        z-index: 10;
        display: block;
        width: 100%;
        height: 180px;
        margin-bottom: -84px;
        background-image: url('../images/illustration-woman-online-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .faq {
        max-height: 70%;
        overflow-y: scroll;
        background-color: white;
        background-image: url('../images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: center top;
        border-radius: 23px;
        padding: 47px 24px;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: hsl(237, 12%, 33%);
        box-shadow: 0 50px 50px hsla(260, 85, 48, 50%);

        h1 {
            margin-top: 80px;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
        }

        ul {
            li {
                max-width: 280px;
                padding: 24px 0px;
                border-bottom: 2px solid hsl(240, 5%, 91%);

                .question {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .answer {
                    max-width: 80%;
                    margin-top: 15px;
                    line-height: 18px;
                    color: hsl(240, 6%, 50%);
                }

                .inactive {
                    display: none;
                }
            }

            img {
                margin-left: 24px;
            }
        }
    }
}